In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [ ]:
df=pd.read_csv('adult.csv')

In [ ]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [ ]:
df=df.replace('?',np.nan)

In [ ]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [ ]:
df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [ ]:
df = df.fillna(method='pad')

In [ ]:
df.isnull().sum()

age               0
workclass         1
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        1
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [ ]:
le  = LabelEncoder()
df['workclass'] = le.fit_transform(df['workclass'])
df['education'] = le.fit_transform(df['education'])
df['marital.status'] = le.fit_transform(df['marital.status'])
df['occupation'] = le.fit_transform(df['occupation'])
df['relationship'] = le.fit_transform(df['relationship'])
df['race'] = le.fit_transform(df['race'])
df['sex'] = le.fit_transform(df['sex'])
df['native.country'] = le.fit_transform(df['native.country'])
df['income'] = le.fit_transform(df['income'])

In [ ]:
df=df.astype(float)

z_val=abs((df-df.mean())/df.std())
out=z_val>3
df=df[~out.any(axis=1)]
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
2658,34.0,3.0,212064.0,11.0,9.0,5.0,0.0,4.0,4.0,0.0,7443.0,0.0,35.0,38.0,0.0
2659,38.0,3.0,22494.0,15.0,10.0,0.0,0.0,1.0,4.0,0.0,7443.0,0.0,40.0,38.0,0.0
2660,41.0,3.0,24763.0,11.0,9.0,0.0,13.0,4.0,4.0,1.0,7443.0,0.0,40.0,38.0,0.0
2661,35.0,3.0,316141.0,15.0,10.0,0.0,9.0,4.0,4.0,0.0,7443.0,0.0,40.0,38.0,0.0
2662,34.0,3.0,213307.0,11.0,9.0,4.0,5.0,4.0,4.0,0.0,7443.0,0.0,35.0,38.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22.0,3.0,310152.0,15.0,10.0,4.0,10.0,1.0,4.0,1.0,0.0,0.0,40.0,38.0,0.0
32557,27.0,3.0,257302.0,7.0,12.0,2.0,12.0,5.0,4.0,0.0,0.0,0.0,38.0,38.0,0.0
32558,40.0,3.0,154374.0,11.0,9.0,2.0,6.0,0.0,4.0,1.0,0.0,0.0,40.0,38.0,1.0
32559,58.0,3.0,151910.0,11.0,9.0,6.0,0.0,4.0,4.0,0.0,0.0,0.0,40.0,38.0,0.0
32560,22.0,3.0,201490.0,11.0,9.0,4.0,0.0,3.0,4.0,1.0,0.0,0.0,20.0,38.0,0.0

In [ ]:
x=df.drop(columns='income')
y=df['income']

In [ ]:
sc = StandardScaler()
x=sc.fit_transform(x)

In [ ]:
x_train, x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)
y_prep = reg.predict(x_test)

In [ ]:
from sklearn.metrics import mean_absolute_error

# Assuming y_test and y_prep are your true and predicted regression targets respectively
mae = mean_absolute_error(y_test, y_prep)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 0.2760402537034759

In [ ]:
from sklearn.naive_bayes import GaussianNB
regi = GaussianNB()

regi.fit(x_train,y_train)
y_pred = regi.predict(x_test)

In [ ]:
print("accuracy->",accuracy_score(y_test,y_pred))

accuracy-> 0.7780660037469376